.projectDetail{
    display: flex;
    flex-direction: column;
    margin: 120px;
    gap: 50px;
}

.projectDetail h1{
    /* text-align: center;
    width: 70%; */
    font-size: 50px;
    font-weight: 550;
}

.projectDetail p{
    font-size: 21px;
    line-height: 40px;
}

.myworkFeatures {
    
}

.myworkImage{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.project-details-bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.livelink{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 50px;
    padding: 25px 45px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.livelink:hover{
    border: 2px solid white;
}

.gitlink{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 50px;
    padding: 25px 45px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    margin: 30px;
}

.gitlink:hover{
    border: 2px solid white;
}

@media (max-width: 768px){
    .projectDetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 80px;
        gap: 30px;
    }    

    .myworkImage{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .myworkFeatures{
        display: flex;
    }

    .project-details-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .livelink{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gitlink{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
